.community-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  text-align: center;
}

.sort-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.sort-options button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  color:black;
}

.sort-options button:hover {
  background-color: #ddd;
}

.posts-container {
  margin-bottom: 40px;
}

.post {
  display: flex;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom:15px;
}

.post-content {
  text-align: left;
  flex: 1;
}

.post-date-and-title {
  display: flex;
  justify-content: space-between;
}

.post-date-and-title p {
  color: #7b7b7b;
  font-size: 16px;
}
.post-content h3 {
  font-weight: bold;
}

.post-detail {
  color: black;
  margin-bottom: 20px;
  font-family: "Hind", sans-serif;
}

.post-username {
  color: #7b7b7b;
  margin-bottom: 10px;
  font-style: italic;
}

.post-actions button {
  background-color: #f1f1f1;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.post-actions button:hover {
  background-color: #ddd;
}
