
.track-progress-page {
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .main-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #333;
  }
  
  .progress-section {
    margin-bottom: 2.5rem;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #444;
  }
  
  .stats-container {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
  }
  
  .stats-box {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .stats-box h3{
    margin-bottom:20px;
    font-weight: bold;
  }
  .missions-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
  }
  
  .mission {
    background-color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
  }
  
  .mission:hover {
    transform: translateY(-5px);
  }
  
  .progress-bar {
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
  }
  
  .progress {
    height: 100%;
    background-color: #3b82f6;
    border-radius: 5px;
    transition: width 0.3s ease;
  }
  
  .progress-percentage {
    font-size: 1rem;
    color: #666;
  }
  
  .badge {
    font-size: 2rem;
    margin-top: 1rem;
  }

  .progress-container{
    margin-top:70px;
  }

  .progress-container h3{
    font-size:30px;
    
  }
  
  .no-badge {
    font-size: 1rem;
    margin-top: 1rem;
    color: #aaa;
  }
  

  .badges-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top:50px;
  }
  
  .badge-card {
    width: 120px;
    text-align: center;
  }
  
  .badge-icon {
    width: 100px;
    height: 100px;
  }
  
  .greyscale {
    filter: grayscale(100%);
  }
  